<footer class="w-full inset-x-0 bottom-0 flex-shrink-0 px-4">
<div>
  <span class="block text-center text-gray-800 text-sm font-light tracking-wide font-sans">
    &copy; hello.world
  </span>
</div>
</footer>
