<nav
  class="flex flex-col sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-1 shadow sm:shadow-none">
  <div
    class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-between items-center">
    
    <a href="/" class="no-underline flex flex-wrap items-center">
      <img src="/img/logo.svg" class="float-left h-12 py-1" alt="hello.world logo">
      <div class="float-left text-gray-800 font-bold text-2xl tracking tracking-widest">
        hello.world
      </div>
    </a>
  </div>
</nav>
