<div class="w-full content-center text-center mb-16">
  <h1 class="font-bold tracking-widest text-3xl mb-2">Our Projects</h1>
  <figure class="inline-block">
    <a href="https://eth.co/">
      <img src="/img/ethco.png" width="128" height="128" alt="EthCo" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">EthCo</span>
    <figcaption class="block text-lg font-normal italic">Ethereum R&D</span>
  </figure>
</div>
