<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center justify-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <div class="font-light font-mono text-browngray text-4xl my-6">
        <p class="w-full tracking-tighter typeIt"></p>
      </div>
      <h1 class="font-bold tracking-widest text-4xl">We make investments in awesome technology companies</h1>
    </div>
    <div class="w-full sm:w-1/3">
      <img src="/img/mirage-easy-money.svg" alt="Investing in technology companies">
    </div>
  </div>
</div>
<script>
  new TypeIt(".typeIt", {
    strings: "Hello, world",
    speed: 75,
    waitUntilVisible: true
  }).go();
</script>
